<%= render "shared/flash" %>
<%= render "layouts/turbo_modal" do %>
  <h2 class="fus-form-header mb-4 sticky top-0 p-3 z-10 bg-fus-blue text-white shadow-md ">
    Asset by user, ID: <%= @user_asset.id_user_asset %>, Username: <%= @user_asset.username %>
  </h2>

	<div class="p-8">
    <%= render "admin/entries/user_assets/assets/search_filter", user_asset: @user_asset %>
    <%= render "admin/entries/user_assets/assets/table", assets: @assets %>
    <%= button_tag t("custom.label.cancel"),
      data: { 
        action: "modal#hideModal"
      },
      type: :button,
      class: "fus-secondary-btn md:w-[100px] my-2"
    %>
	</div>
<% end %>



<% content_for(:title, t("custom.label.edit_location_form", model: t("activerecord.models.asset")).capitalize) %>