<%= turbo_frame_tag "modal-content" do %>
  <h2 class="mb-4 fus-form-sub-header p-2">
    Bulk insert Assets registration
  </h2>

  <div class="p-2">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/flash" %>
    <% end %>

    <%= link_to t("custom.label.download_template"),
      import_download_template_admin_assets_path,
      class: "fus-green-btn text-white",
      data: { turbo: false } %>


    <%= form_with url: process_import_admin_assets_path,
      multipart: true,
      data: {
        turbo_action: "advance",
        action: "turbo:submit-end->modal#submitEnd"
      } do |form| %>

      <div data-controller="file-upload" class="relative flex flex-col justify-center items-center mt-4 border-2 border-dashed border-gray-300 rounded-lg p-8 bg-gray-50 hover:bg-gray-100 transition-colors duration-300">
        <div class="text-center pointer-events-none">
          <p class="text-gray-600 font-medium mb-2">Drag and drop your file here</p>
          <p class="text-sm text-gray-500">or click to browse</p>
          <p id="file-name" class="text-sm text-gray-700 font-medium mt-2 hidden"></p>
        </div>
        <%= form.file_field :file,
          class: "absolute inset-0 w-full h-full opacity-0 cursor-pointer z-10",
          data: { action: "change->file-upload#updateFileName" }
        %>
      </div>

      <div class="mt-4">
        <%= form.submit "#{t('custom.label.upload')}",
          class: "bg-fus-blue p-2 rounded text-white mb-2",
          data: {
            turbo_submits_with: t("custom.label.importing")
          }
        %>
      </div>
    <% end %>

    <div class="overflow-x-auto mb-4 bg-slate-50 p-2 rounded-lg shadow relative">
  <%= turbo_frame_tag "table" do %>
    <div class="min-w-full bg-white rounded-lg overflow-x-auto max-h-[500px]">
        <table class="min-w-full bg-white table-auto" data-table-target="table">
          <thead class="rounded-lg">
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">

              <% if policy([:admin, :authorization]).destroy? || policy([:admin, :authorization]).read?  %>
                <th class="sticky top-0 left-0 py-3 px-4 w-5 bg-gray-200 z-10">
                  <div class="flex items-center space-x-2">
                    <% if policy([:admin, :authorization]).destroy? %>
                      <input type="checkbox" data-table-target="parentCheckbox" data-action="change->table#toggleChildCheckbox" class="form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-400">
                    <% end %>
                  </div>
                </th>
              <% end %>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= t("activerecord.attributes.report_queue.name") %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= t("custom.label.total_data") %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= t("custom.label.file_size") %>
              </th>
              
              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= t("activerecord.attributes.report_queue.scheduled_at") %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= t("activerecord.attributes.report_queue.finished_at") %>
              </th>

            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <%#= render "admin/entries/assets/report_queues/report_queues", report_queues: @report_queues.blank? ? [] : @report_queues %>
          </tbody>
        </table>
    </div>
    <div class="flex justify-between items-center my-4 mx-4">
      <%#== pagy_info(@pagy) %>
      <%#== pagy_nav(@pagy, anchor_string: 'data-turbo-action="advance" data-action="click->table#resetDeleteButton"') %>
    </div>
  <% end %>
  <%= render "shared/data_loader" %>

</div>


  </div>
<% end %>
  
<% content_for(:title, t("custom.label.new_form", model: t("activerecord.models.asset")).capitalize) %>