<%= form_with url: software_admin_asset_path, method: :patch, data: { turbo_action: "advance" } do |form| %>
  <h2 class="p-3 z-20 bg-fus-blue text-white shadow-md font-semibold rounded-t">
		Asset description
	</h2>

	<div class="bg-slate-50 rounded-b grid grid-cols-2 gap-2 p-2 mb-6">
		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.asset.tagging_id") %>
			</label>
			<span class="fus-readonly"><%= @asset.tagging_id %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.models.asset_item_type") %>
			</label>
			<span class="fus-readonly"><%= @asset.asset_model.asset_item_type.name %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.models.site") %>
			</label>
			<span class="fus-readonly"><%= @asset.site.name %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.user_asset.username") %>
			</label>
			<span class="fus-readonly"><%= @asset.user_asset.username %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.asset.cpu_sn") %>
			</label>
			<span class="fus-readonly"><%= @asset.cpu_sn.present? ? @asset.cpu_sn : "-" %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.asset.monitor_sn") %>
			</label>
			<span class="fus-readonly"><%= @asset.monitor_sn.present? ? @asset.monitor_sn : "-" %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.asset.keyboard_sn") %>
			</label>
			<span class="fus-readonly"><%= @asset.keyboard_sn.present? ? @asset.keyboard_sn : "-" %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.asset.delivery_order_id") %>
			</label>
			<span class="fus-readonly"><%= @asset.delivery_order.present? ? @asset.delivery_order.number : "-" %></span>
		</div>

		<div class="mb-2">
			<label class="fus-label">
				<%= t("activerecord.attributes.asset.description") %>
			</label>
			<span class="fus-readonly"><%= @asset.description.present? ? @asset.description : "-" %></span>
		</div>

	</div>
  
  <h3 class="fus-form-header mt-6 mb-2">
    <%= t("custom.label.software_details") %>
  </h3>

  <div class="overflow-x-auto rounded-lg" data-controller="table">
    <div class="min-w-full bg-white rounded-lg overflow-x-auto max-h-[550px]">
        <table class="min-w-full bg-white">
          <thead class="rounded-lg">
            <tr class="bg-gray-200 text-xs text-gray-600 uppercase text-sm text-left leading-normal">

							<th class="sticky top-0 py-3 px-2 bg-gray-200 z-5 whitespace-nowrap z-10">
              </th>
  
              <th class="sticky top-0 py-3 px-2 bg-gray-200 z-5 whitespace-nowrap z-10">
                <%= t("activerecord.attributes.asset_software.software_id") %>
              </th>
  
              <th class="sticky top-0 py-3 px-2 bg-gray-200 z-5 whitespace-nowrap z-10">
                <%= t("activerecord.attributes.asset_software.license") %>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <%= render "admin/assets/asset_softwares/asset_softwares", asset_softwares: @asset_softwares %>
          </tbody>
        </table>
    </div>
  </div>
  

  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= form.submit "#{t('custom.label.save')}",
      data: { turbo_frame: "main-content" },
      class: "bg-fus-blue w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>

    <%= link_to "#{t('custom.label.cancel')}",
      admin_assets_path,
      data: {
        turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>