<%= form_with model: [:admin, user_asset], data: { turbo_action: "advance" } do |form| %>

  <div class="md:grid grid-cols-2 gap-2">
    <div class="mb-2">
      <%= form.label :id_user_asset, "#{t("activerecord.attributes.user_asset.id_user_asset")} *", class: "fus-label mb-2" %>
      <span class="block w-full p-2 outline-none border border-gray-300 rounded-lg bg-gray-200 text-gray-500">
        <% if user_asset.persisted? %>
          <strong><%= user_asset.id_user_asset %></strong>
        <% else %>
          <strong>&lt&ltAuto Generate&gt&gt</strong>
        <% end %>
      </span>
    </div>

    <div class="mb-2">
      <%= form.label :username, "#{t("activerecord.attributes.user_asset.username")} *", class: "fus-label mb-2" %>
      <%= form.text_field :username, class: "fus-input", required: true %>
      <% @user_asset.errors.full_messages_for(:username).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :aztec_code, "#{t("activerecord.attributes.user_asset.aztec_code")} *", class: "fus-label mb-2" %>
      <%= form.text_field :aztec_code, class: "fus-input", required: true %>
      <% @user_asset.errors.full_messages_for(:aztec_code).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :email, "#{t("activerecord.attributes.user_asset.email")} *", class: "fus-label mb-2" %>
      <%= form.email_field :email, class: "fus-input", required: true %>
      <% @user_asset.errors.full_messages_for(:email).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
    
    <div class="mb-2">
      <%= form.label :site, "#{t("activerecord.models.site")} *", class: "fus-label mb-2" %>
      <%= form.select :site_id,
        Site.pluck(:name, :id).map { |name, id| [name.capitalize, id]},
        {include_blank: t("custom.label.select", model: t("activerecord.models.site")).capitalize},
        { data: { controller: "slim" }, class: "fus-select" }
      %>
      <% @user_asset.errors.full_messages_for(:site).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :department, "#{t("activerecord.models.department")} *", class: "fus-label mb-2" %>
      <%= form.select :department_id,
        Department.pluck(:name, :id).map { |name, id| [name.capitalize, id]},
        {include_blank: t("custom.label.select", model: t("activerecord.models.department")).capitalize},
        { data: { controller: "slim" }, class: "fus-select" }
      %>
      <% @user_asset.errors.full_messages_for(:department).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :location, "#{t("activerecord.attributes.user_asset.location")} *", class: "fus-label mb-2" %>
      <%= form.text_field :location, class: "fus-input", required: true %>
      <% @user_asset.errors.full_messages_for(:location).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :floor, "#{t("activerecord.attributes.user_asset.floor")} *", class: "fus-label mb-2" %>
      <%= form.text_field :floor, class: "fus-input", required: true %>
      <% @user_asset.errors.full_messages_for(:floor).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>


  </div>

  <div class="mb-2">
    <%= form.label :description, class: "fus-label mb-2" %>
    <%= form.textarea :description, class: "fus-input" %>
    <% @user_asset.errors.full_messages_for(:description).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= form.submit "#{t('custom.label.save')}",
      class: "bg-blue-400 w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>

    <%= link_to "#{t('custom.label.cancel')}",
      admin_user_assets_path,
      data: {
        turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>