<%= form_with model: [:admin, purchase_order], data: { turbo_action: "advance" } do |form| %>

  <div class="md:grid grid-cols-2 gap-2">
  
    <div class="mb-2">
      <%= form.label :number, "#{t("activerecord.attributes.purchase_order.number")} *", class: "fus-label mb-2" %>
      <%= form.text_field :number, class: "fus-input", required: true %>
      <% @purchase_order.errors.full_messages_for(:number).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :date, "#{t("activerecord.attributes.purchase_order.date")} *", class: "fus-label mb-2" %>
      <%= form.date_field :date, 
        class: "fus-input",
        required: true 
      %>
      <% @purchase_order.errors.full_messages_for(:date).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :vendor, "#{t("activerecord.models.vendor")} *", class: "fus-label mb-2" %>
      <%= form.select :vendor_id,
        Vendor.pluck(:name, :id).map { |name, id| [name.capitalize, id]},
        {include_blank: t("custom.label.select", model: t("activerecord.models.vendor")).capitalize},
        data: { controller: "slim" },
        class: "fus-select"
      %>
      <% @purchase_order.errors.full_messages_for(:vendor).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label "#{t('activerecord.attributes.purchase_order.request_for_purchase_id')} *", class: "fus-label mb-2" %>
      <%= form.select :request_for_purchase_id,
        @request_for_purchases.pluck(:number, :id).map { |number, id| [number.capitalize, id]},
        {include_blank: t("custom.label.select", model: t("activerecord.models.request_for_purchase")).capitalize},
        data: { 
          controller: "po-rfp-details",
          po_rfp_details_target: "select",
          po_rfp_details_po_id_value: params[:id],
          action: "po-rfp-details#updateTable"
        },
        class: "fus-select"
      %>
      <% @purchase_order.errors.full_messages_for(:request_for_purchase).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  </div>

  <div id="rfp_details_table">
    <%= render "rfp_details_table", rfp_details: rfp_details, selected_details: selected_details %>
  </div>


  <div class="md:grid grid-cols-2 gap-2 mt-4">
    <div class="mb-2">
      <%= form.label :delivery_date, "#{t("activerecord.attributes.purchase_order.delivery_date")} *", class: "fus-label mb-2" %>
      <%= form.date_field :delivery_date,
        class: "fus-input",
        required: true 
      %>
      <% @purchase_order.errors.full_messages_for(:delivery_date).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label "#{t('activerecord.attributes.purchase_order.ship_to_site_id')} *", class: "fus-label mb-2" %>
      <%= form.select :ship_to_site_id,
        PoDeliverySite.pluck(:name, :id).map { |name, id| [name, id]},
        {include_blank: t("custom.label.select", model: t("activerecord.models.vendor")).capitalize},
        data: { action: "filters#submit", controller: "slim" },
        class: "fus-select"
      %>
      <% @purchase_order.errors.full_messages_for(:ship_to_site).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :payment_remarks, class: "fus-label mb-2" %>
      <%= form.text_field :payment_remarks, class: "fus-input" %>
      <% @purchase_order.errors.full_messages_for(:payment_remarks).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :approved_by, "#{t("activerecord.attributes.purchase_order.approved_by_id")} *", class: "fus-label mb-2" %>
      <%= form.select :approved_by_id,
        PersonalBoard.pluck(:username, :id).map { |username, id| [username.capitalize, id]},
        {include_blank: t("custom.label.select", model: t("activerecord.attributes.purchase_order.approved_by_id")).capitalize},
        data: { controller: "slim-no-search" },
        class: "fus-select"
      %>
      <% @purchase_order.errors.full_messages_for(:approved_by).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
    
    <div class="mb-2">
      <%= form.label :status, "#{t("activerecord.attributes.purchase_order.status")}", class: "fus-label mb-2" %>
      <%= form.select :status,
        [["Open", "Open"], ["Closed", "Closed"]],
        {},
        { data: { controller: "slim-no-search" }, class: "fus-select" }
      %>
      <% @purchase_order.errors.full_messages_for(:status).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

  </div>

  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= form.submit "#{t('custom.label.save')}",
      class: "fus-primary-btn mb-4 md:mb-0 md:w-auto"
    %>

    <%= link_to "#{t('custom.label.cancel')}",
      admin_purchase_orders_path,
      data: {
        turbo_action: "advance"
      },
      class: "fus-secondary-btn mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>