<%= form_with model: [:admin, inventory_movement], data: { turbo_action: "advance" } do |f| %>

  <div class="mb-2">
    <%= f.label :id_inventory_movement, "#{t("activerecord.attributes.inventory_movement.id_inventory_movement")}", class: "fus-label mb-2" %>
    <span class="block w-full p-2 outline-none border border-gray-300 rounded-lg bg-gray-200 text-gray-500">
      <% if inventory_movement.persisted? %>
        <strong><%= inventory_movement.id_inventory_movement %></strong>
      <% else %>
        <strong>&lt&ltAuto Generate&gt&gt</strong>
      <% end %>
    </span>
  </div>
  
  <div 
    data-controller="inventory-movement"
    data-inventory-movement-user-assets-outlet=".site-id"
    data-inventory-movement-site-inventories-outlet=".site-id"
    >
    <div class="w-full mb-2">
      <%= f.label :source, "#{t('activerecord.attributes.inventory_movement.source_site_id')}", class: "fus-label" %>
      <%= f.select :source_site_id,
        @parent_sites.map { |name, id| [name.capitalize, id]},
        {include_blank: t("custom.label.all", model: t("activerecord.attributes.inventory_movement.source_site_id")).capitalize},
        data: {
          controller: "tom-select",
          tom_select_target: "select",
          inventory_movement_target: "siteSelect",
          action: "change->inventory-movement#updateSelectedSite"
        },
        class: "fus-tom-select",
        required: true
      %>
    </div>

    <div class="mb-2">
      <%= f.label :movement_type, class: "fus-label mb-2" %>
      <%= f.select :movement_type, 
          options_for_select(
            InventoryMovement::MOVEMENT_TYPES.map { |movement_type| [movement_type.humanize, movement_type] }
          ),
          { include_blank: "Select a movement type" },
          data: {
            controller: "tom-select",
            tom_select_target: "select",
            inventory_movement_target: "movementType",
            action: "change->inventory-movement#toggleUserOrSite",
          },
          class: "fus-input",
          required: true
      %>
    </div>

    <div class="mb-2 hidden site-id" data-controller="user-assets" data-inventory-movement-target="userAsset">
      <%= f.label :user_asset, "#{t("activerecord.models.user_asset")}", class: "fus-label mb-2" %>
      <%= f.select :user_asset_id,
        options_for_select([]),
        {include_blank: "Type user asset id, username, aztec code, or user asset email"},
        data: {
          user_assets_target: "select"
        },
        class: "fus-tom-select",
        required: true
      %>
    </div>

    <div class="w-full mb-2 hidden" data-inventory-movement-target="site">
      <%= f.label :destination, "#{t('activerecord.attributes.inventory_movement.destination_site_id')}", class: "fus-label" %>
      <%= f.select :destination_site_id,
        @parent_sites.map { |name, id| [name.capitalize, id]},
        {include_blank: t("custom.label.all", model: t("activerecord.attributes.inventory_movement.destination_site_id")).capitalize},
        data: {
          controller: "tom-select",
          tom_select_target: "select"
        },
        class: "fus-tom-select",
        required: true
      %>
    </div>
  </div>

  <div class="mb-2 site-id" data-controller="site-inventories">
    <%= label_tag :tagging_ids, "#{t("activerecord.attributes.asset.tagging_id")} *", class: "fus-label mb-2" %>
    <%= f.fields_for :inventory_movement_details do |inventory_detail| %>
      <%= inventory_detail.select :inventory_id, 
          options_for_select([]),
          { include_blank: false },
          multiple: true,
          data: {
            site_inventories_target: "select"
          },
          class: "fus-input",
          required: true
      %>
    <% end %>
  </div>

  <div class="mb-2">
    <%= f.label :status, "Status", class: "fus-label mb-2" %>
    <%= f.select :status, 
        options_for_select(
          InventoryMovement::MOVEMENT_STATUSES.map { |movement_status| [movement_status.humanize, movement_status] }, 
          f.object.status || inventory_movement::MOVEMENT_STATUSES.first
        ),
        { include_blank: "Select a status" },
        data: {
          controller: "tom-select",
          tom_select_target: "select"
        },
        class: "fus-input",
        required: true
    %>
  </div>


  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= f.submit "#{t('custom.label.save')}",
      data: { turbo_frame: "main-content" },
      class: "bg-fus-blue w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>
    <%= link_to "#{t('custom.label.back')}",
      admin_inventories_path,
      data: {
          turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>
