<%= form_with model: [:admin, vendor], data: { turbo_action: "advance" } do |form| %>

  <div class="md:grid grid-cols-2 gap-2">
    <div class="mb-2">
      <%= form.label :id_vendor, "#{t("activerecord.attributes.vendor.id_vendor")} *", class: "fus-label mb-2" %>
      <%= form.text_field :id_vendor, class: "fus-input", required: true %>
      <% @vendor.errors.full_messages_for(:id_vendor).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
    
    <div class="mb-2">
      <%= form.label :name, "#{t("activerecord.attributes.vendor.name")} *", class: "fus-label mb-2" %>
      <%= form.text_field :name, class: "fus-input", required: true %>
      <% @vendor.errors.full_messages_for(:name).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :address1, class: "fus-label mb-2" %>
      <%= form.text_field :address1, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:address1).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :address2, class: "fus-label mb-2" %>
      <%= form.text_field :address2, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:address2).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :city, class: "fus-label mb-2" %>
      <%= form.text_field :city, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:city).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :postal_code, class: "fus-label mb-2" %>
      <%= form.text_field :postal_code, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:postal_code).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :phone_number, class: "fus-label mb-2" %>
      <%= form.text_field :phone_number, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:phone_number).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :fax_number, class: "fus-label mb-2" %>
      <%= form.text_field :fax_number, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:fax_number).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.label :contact_person, class: "fus-label mb-2" %>
      <%= form.text_field :contact_person, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:contact_person).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= form.label :email, class: "fus-label mb-2" %>
      <%= form.email_field :email, class: "fus-input" %>
      <% @vendor.errors.full_messages_for(:email).each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    </div>

  </div>

  <div class="mb-2">
    <%= form.label :description , class: "fus-label mb-2" %>
    <%= form.textarea :description, class: "fus-input" %>
  </div>

  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= form.submit "#{t('custom.label.save')}",
      data: { turbo_frame: "main-content" },
      class: "bg-fus-blue w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>
    <%= link_to "#{t('custom.label.cancel')}",
      admin_vendors_path,
      data: {
          turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>