<div class="bg-slate-50 rounded-lg mt-4 mb-4 p-4 hidden" data-toggle-target="toggle">
  <%= search_form_for [:admin, @q], url: admin_departments_path, data: { 
    controller: "filters",
    turbo_frame: :table,
    turbo_action: "advance",
    filters_delay_value: 200,
    filters_table_outlet: ".table-department"
  } do |f| %>

    <div class="md:flex gap-2">
      <div class="w-full mb-2">
        <%= f.label "#{t('activerecord.attributes.department.name')}", class: "block text-gray-700" %>
        <%= f.search_field :name_cont, data: { action: "filters#submit" }, class: "w-full border border-gray-300 rounded px-4 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>

      <div class="w-full mb-2">
        <%= f.label "#{t('activerecord.attributes.department.floor')}", class: "block text-gray-700" %>
        <%= f.search_field :floor_cont, data: { action: "filters#submit" }, class: "w-full border border-gray-300 rounded px-4 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>

    </div>
    
  <% end %>
</div>