<!-- Navbar -->
<nav 
  class="bg-fus-blue text-white fixed top-0 w-full z-50 px-8 py-2 shadow-lg flex justify-between items-center"
  data-controller="active-menu">

  <!-- brand title (pojok kanan) -->
  <div class="flex-shrink-0">
    <%= link_to "Asset Management System", admin_path, class: "text-xl font-bold" %>
  </div>
    

  <!-- main menu (tengah) -->
  <div class="flex-grow flex justify-center">
    <ul class="flex space-x-8 items-center">
      <li
        data-menu=<%= admin_path %>
        data-active-menu-target="item"
        data-action="click->active-menu#activate"
        class="px-2 py-2">
        <%= link_to "#{t('custom.label.home')}",
          admin_path,
          class: "hover:text-gray-200"
        %>
      </li>

      <%= render "shared/menus/procurements_menu" %>
      <%= render "shared/menus/asset_management_menu" %>
      <%= render "shared/menus/inventory_management_menu" %>
      <%= render "shared/menus/settings_menu" %>
      <%= render "shared/menus/masters_menu" %>
      <%= render "shared/menus/access_management_menu" %>

    </ul>
  </div>

  <!-- user profile (pojok kanan) -->
  <div 
    class="relative flex-shrink-0"
    data-controller="dropdown-menu"
    data-action="mouseenter->dropdown-menu#show mouseleave->dropdown-menu#hide">

    <!-- Profile Icon -->
    <button 
      class="w-10 h-10 bg-gray-200 text-gray-800 rounded-full flex items-center justify-center focus:outline-none hover:bg-gray-300"
      id="profile-menu-button">
      <span class="sr-only">Open user menu</span>
      <i class="fas fa-user"></i>
    </button>

    <!-- Dropdown Menu -->
    
    <ul
      class="absolute mt-2 hidden bg-white shadow-lg rounded py-2 px-2 whitespace-nowrap w-64 right-0"
      data-dropdown-menu-target="menu">
        <li class="py-2 px-2 text-gray-600">
          Hi, <%= current_account.username %>
        </li>
        <li class="py-2 px-2 text-gray-600 hover:underline">
          <%= link_to "Logout", auth_sign_out_path, data: { turbo_method: :delete }, class: "w-full text-left" %>
        </li>
    </ul>
  </div>

    
</nav>
