<!-- Navbar -->
<nav 
  class="bg-fus-blue text-white fixed top-0 w-full z-50 px-8 py-2 shadow-lg flex justify-between items-center"
  data-controller="active-menu">

  <!-- brand title (pojok kanan) -->
  <div class="flex-shrink-0">
    <%= link_to "Asset Management System", admin_path, class: "text-xl font-bold" %>
  </div>
    

  <!-- main menu (tengah) -->
  <div class="flex-grow flex justify-center">
    <ul class="flex space-x-8 items-center">
      <li>
        <%= link_to "#{t('custom.label.home')}",
          admin_path,
          class: "hover:text-gray-200"
        %>
      </li>

      <%= render "shared/menus/assets_menu" %>
      <%= render "shared/menus/asset_components_menu" %>
      <%= render "shared/menus/locations_menu" %>
      <%= render "shared/menus/masters_menu" %>

      <% if has_setup_menu? %>
        <%= render "shared/menus/setups_menu" %>
      <% end %>

    </ul>
  </div>

    <!-- sign out (pojok kiri) -->
    <div class="flex-shrink-0">
      <ul>
        <li>
          <%= button_to "Sign out", auth_sign_out_path, class: "bg-orange-400 p-2 rounded text-white focus:outline-none", method: :delete %>
        </li>
      </ul>
    </div>

    
</nav>
