<div id="desktop-sidebar" class="hidden bg-blue-400 shadow-lg md:block sidebar-fixed">
  <div class="p-0"> <!-- Menghapus padding dari sidebar -->
    <h2 class="font-bold text-lg text-white px-8 py-4 bg-blue-400 sticky-header">Entry</h2>
    <div class="mt-4 px-4">
      <h3 class="font-semibold text-white">Asset</h3>
      <ul>
        <li><a href="#" class="px-2 text-white hover:underline">Capital proposal</a></li>
        <li><a href="#" class="px-2 text-white hover:underline">Request for purchase</a></li>
        <li><a href="#" class="px-2 text-white hover:underline">Purchase order</a></li>
        <li><a href="#" class="px-2 text-white hover:underline">Delivery order</a></li>
        <li><a href="#" class="px-2 text-white hover:underline">Register asset</a></li>
        <li><a href="#" class="px-2 text-white hover:underline">Update asset</a></li>
        <li>
          <%= link_to "#{t('custom.label.register')} #{t('activerecord.models.user_asset')}",
            admin_user_assets_path,
            class: "px-2 text-white hover:underline",
            data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li><a href="#" class="px-2 text-white hover:underline">Close berita acara</a></li>
        <li><a href="#" class="px-2 text-white hover:underline">Change tagging id</a></li>
      </ul>
    </div>

    <div class="mt-4 px-4">
      <h3 class="font-semibold text-white">Asset and Component</h3>
      <ul>
        <li>
          <%= link_to t("activerecord.models.asset_type"), admin_asset_types_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>

        <li>
          <%= link_to t("activerecord.models.asset_item_type"), admin_asset_item_types_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>

        <li>
          <%= link_to t("activerecord.models.asset_model"), admin_asset_models_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>

        <li>
          <%= link_to t("activerecord.models.component_type"), admin_component_types_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.component"), admin_components_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.sofware"), admin_softwares_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
      </ul>
    </div>

    <div class="mt-4 px-4">
      <h3 class="font-semibold text-white">Location</h3>
      <ul>
        <li>
          <%= link_to t("activerecord.models.project"), admin_projects_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.site_group"), admin_site_groups_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.site"), admin_sites_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.department"), admin_departments_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
      </ul>
    </div>

    <div class="mt-4 px-4">
      <h3 class="font-semibold text-white">Master</h3>
      <ul>
        <li>
          <%= link_to t("activerecord.models.brand"), admin_brands_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.vendor"), admin_vendors_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
        <li>
          <%= link_to t("activerecord.models.site_stat"), admin_site_stats_path, class: "px-2 text-white hover:underline", data: { turbo_frame: "main-content", turbo_action: "advance"} %>
        </li>
      </ul>
    </div>

    <!-- Tambahkan lebih banyak grup jika perlu -->
  </div>
</div>