<% if inventory_locations.present? %>
<h3 class="fus-form-header mt-6 mb-2">
  <%= t("activerecord.models.inventory_locations") %>
</h3>
<div class="overflow-x-auto rounded-lg my-4" id="inventory_locations_table">
  <div class="min-w-full bg-white rounded-lg overflow-x-auto max-h-[500px]">
      <table class="min-w-full bg-white table-auto">
        <thead class="rounded-lg">
          <tr class="bg-gray-200 text-xs text-gray-600 uppercase text-sm text-left leading-normal">

            <th class="sticky top-0 py-3 px-2 bg-gray-200 z-10 whitespace-nowrap">
              <%= t("activerecord.models.inventory_location") %>
            </th>

            <th class="sticky top-0 py-3 px-2 bg-gray-200 z-10 whitespace-nowrap">
              <%= t("activerecord.models.room") %>
            </th>

            <th class="sticky top-0 py-3 px-2 bg-gray-200 z-10 whitespace-nowrap">
              <%= t("activerecord.models.rooms_storage_unit.") %>
            </th>

            <th class="sticky top-0 py-3 px-2 bg-gray-200 z-10 whitespace-nowrap">
              <%= t("activerecord.models.rooms_storage_units_bin") %>
            </th>

          </tr>
        </thead>
        
        <tbody class="text-gray-600 text-sm font-light">
            <%= tag.tr class: "border-b border-gray-200 hover:bg-gray-100" do %>
              <td class="py-2 px-2 text-left whitespace-nowrap">
                  <%= select_tag "inventory_location_id",
                    options_for_select(inventory_locations.pluck(:floor, :id).map { |floor, id| [floor, id] }),
                    include_blank: t("custom.label.select", model: t("activerecord.models.inventory_location")).capitalize,
                    data: {
                      controller: "turbo-dependent-select",
                      action: "change->turbo-dependent-select#loadRooms",
                      turbo_dependent_select_target: "select"

                    },
                    class: "fus-select"
                  %>
                </td>

                <td id="rooms" class="py-2 px-2 text-left whitespace-nowrap">
                  <%= select_tag "room_id",
                    options_for_select([]),
                    include_blank: t("custom.label.select", model: t("activerecord.models.room")).capitalize,
                    data: {
                      controller: "turbo-dependent-select",
                      action: "change->turbo-dependent-select#loadStorageUnits",
                      turbo_dependent_select_target: "select"

                    },
                    class: "fus-select"
                  %>
                </td>

                <td id="rooms_storage_units" class="py-2 px-2 text-left whitespace-nowrap">
                  <%= select_tag "rooms_storage_unit_id",
                    options_for_select([]),
                    include_blank: t("custom.label.select", model: t("activerecord.models.rooms_storage_unit")).capitalize,
                    data: { 
                      controller: "turbo-dependent-select",
                      action: "change->turbo-dependent-select#loadStorageUnitBins",
                      turbo_dependent_select_target: "select",
                    },
                    class: "fus-select"
                  %>
                </td>

                <td id="rooms_storage_units_bins" class="py-2 px-2 text-left whitespace-nowrap">
                  <%= select_tag "rooms_storage_units_bin_id",
                    options_for_select([]),
                    include_blank: t("custom.label.select", model: t("activerecord.models.rooms_storage_units_bin")).capitalize,
                    data: {
                      controller: "turbo-dependent-select",
                      turbo_dependent_select_target: "select"
                    },
                    class: "fus-select"
                  %>
                </td>

            <% end %>

        </tbody>
      </table>
  </div>

</div>
<% else %>
  <div id="inventory_locations_table" data-controller="select-custom-validity"></div>
<% end %>
