  <div class="bg-slate-50 rounded-lg mt-4 mb-4 p-4 hidden" data-toggle-target="toggle">
    <%= search_form_for [:admin, @q], url: admin_assets_path, data: { 
      controller: "filters",
      turbo_frame: :table,
      turbo_action: "advance",
      filters_delay_value: 200,
      filters_table_outlet: ".table-asset",
    } do |f| %>
  
      <div class="md:grid grid-cols-3 gap-2"> 
        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.attributes.asset.tagging_id')}", class: "fus-label" %>
          <%= f.search_field :tagging_id_cont, value: params[:q] && params[:q][:tagging_id_eq], data: { action: "filters#submit" }, class: "fus-input" %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.attributes.asset.site_id')}", class: "fus-label" %>
          <%= f.select :site_id_eq,
            Site.pluck(:name, :id).map { |name, id| [name.capitalize, id]},
            {include_blank: t("custom.label.all", model: t("activerecord.attributes.asset.site_id")).capitalize},
            data: { action: "filters#submit", controller: "slim" },
            class: "fus-select"
          %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.attributes.asset.asset_model_id')}", class: "fus-label" %>
          <%= f.select :asset_model_id_eq,
            AssetModel.pluck(:name, :id).map { |name, id| [name.capitalize, id]},
            {include_blank: t("custom.label.all", model: t("activerecord.attributes.asset_model.asset_model_id")).capitalize},
            data: { action: "filters#submit", controller: "slim" },
            class: "fus-select"
          %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.attributes.asset.cpu_sn')}", class: "fus-label" %>
          <%= f.search_field :cpu_sn_cont, data: { action: "filters#submit" }, class: "fus-input" %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.attributes.asset.delivery_order_id')}", class: "fus-label" %>
          <%= f.search_field :delivery_order_number_cont, data: { action: "filters#submit" }, class: "fus-input" %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.attributes.asset.project_id')}", class: "fus-label" %>
          <%= f.select :project_id_eq,
            Project.pluck(:name, :id).map { |name, id| [name, id]},
            {include_blank: t("custom.label.all", model: t("activerecord.attributes.asset_model.project_id")).capitalize},
            data: { action: "filters#submit", controller: "slim" },
            class: "fus-select"
          %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.models.asset_type')}", class: "fus-label" %>
          <%= f.select :asset_model_asset_type_id_eq,
            AssetType.pluck(:name, :id).map { |name, id| [name, id]},
            {include_blank: t("custom.label.all", model: t("activerecord.models.asset_type")).capitalize},
            data: { action: "filters#submit", controller: "slim" },
            class: "fus-select"
          %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.models.component')}", class: "fus-label" %>
          <%= f.select :components_id_eq,
            Component.pluck(:name, :id).map { |name, id| [name, id]},
            {include_blank: t("custom.label.all", model: t("activerecord.models.component")).capitalize},
            data: { action: "filters#submit", controller: "slim" },
            class: "fus-select"
          %>
        </div>

        <div class="w-full mb-2">
          <%= f.label "#{t('activerecord.models.software')}", class: "fus-label" %>
          <%= f.select :softwares_id_eq,
            Software.pluck(:name, :id).map { |name, id| [name, id]},
            {include_blank: t("custom.label.all", model: t("activerecord.models.software")).capitalize},
            data: { action: "filters#submit", controller: "slim" },
            class: "fus-select"
          %>
        </div>

      </div>
    <% end %>
  </div>