<%= render "layouts/turbo_modal" do %>
  <%= turbo_frame_tag "flash" do %>
    <%= render "shared/flash" %>
  <% end %>
  <h2 class="fus-form-header mb-2 sticky top-0 p-3 z-20 bg-fus-blue text-white shadow-md">
    <%= t("custom.label.default_new_form", model: t("activerecord.models.asset")).capitalize %>
  </h2>
  <div class="p-8">
    <div class="flex gap-4 mb-4">
      <%= button_to t("custom.label.asset_registration"),
        import_asset_registrations_admin_assets_path,
        method: :get,
        class: "fus-secondary-btn",
        data: {
          turbo_frame: "modal-content",
          turbo_action: "advance"
        } %>
      <%= button_to t("custom.label.user_asset"),
        "#",
        method: :get,
        class: "fus-secondary-btn",
        data: {
          turbo_frame: "modal-content",
          turbo_action: "advance"
        } %>
      <%= button_to t("custom.label.asset_software"),
        "#",
        method: :get,
        class: "fus-secondary-btn",
        data: {
          turbo_frame: "modal-content",
          turbo_action: "advance"
        } %>
      <%= button_to t("custom.label.inventory_locations"),
        "#",
        method: :get,
        class: "fus-secondary-btn",
        data: {
          turbo_frame: "modal-content",
          turbo_action: "advance"
        } %>
    </div>

    <div class="mt-4 border-2 border-solid rounded-lg">
      <%= turbo_frame_tag "modal-content" do %>
        <p class="text-center text-gray-500">
          <%= t("custom.label.select_option") %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for(:title, t("custom.label.new_form", model: t("activerecord.models.asset")).capitalize) %>
