<%= form_with model: [:admin, inventory], data: { turbo_action: "advance" } do |f| %>

  <% if f.object.persisted? %>
    <div class="w-full mb-2">
      <%= f.label :tagging_id, "#{t('activerecord.attributes.asset.tagging_id')}", class: "fus-label" %>
      <span class="fus-readonly"><%= inventory.asset.tagging_id %></span>
    </div>
  <% end %>

  <div class="w-full mb-2">
    <%= f.label :site, "#{t('activerecord.models.site')}", class: "fus-label" %>
    <%= f.select :site_id,
      @parent_sites.map { |name, id| [name.capitalize, id]},
      {include_blank: t("custom.label.all", model: t("activerecord.models.site")).capitalize},
      data: {
        controller: "turbo-dependent-select",
        turbo_dependent_select_target: "select",
        action: "filters#submit change->turbo-dependent-select#loadInventoryLocations change->turbo-dependent-select#updateSiteId",
        turbo_dependent_select_endpoint_value: inventory_locations_admin_inventories_path,
        turbo_dependent_select_inventory_location_outlet: ".asset-id"
      },
      class: "fus-tom-select",
      required: true
    %>
  </div>

  <%= turbo_frame_tag "inventory-locations" do %>
    <%= render "admin/inventory_management/inventories/inventory_locations",
      inventory_locations: @inventory_locations,
      option_disabled: !f.object.persisted?,
      selected_inventory_location_id: @selected_inventory_location_id
    %>
  <% end %>

  <%= turbo_frame_tag "rooms" do %>
    <%= render "admin/inventory_management/inventories/rooms",
      rooms: @rooms,
      option_disabled: !f.object.persisted?,
      selected_room_id: @selected_room_id
    %>
  <% end %>

  <%= turbo_frame_tag "rooms-storage-units" do %>
    <%= render "admin/inventory_management/inventories/rooms_storage_units",
      rooms_storage_units: @rooms_storage_units,
      option_disabled: !f.object.persisted?,
      selected_rooms_storage_unit_id: @selected_rooms_storage_unit_id
    %>
  <% end %>

  <%= turbo_frame_tag "rooms-storage-units-bins" do %>
    <%= render "admin/inventory_management/inventories/rooms_storage_units_bins",
      rooms_storage_units_bins: @rooms_storage_units_bins,
      option_disabled: !f.object.persisted?,
      selected_rooms_storage_units_bin_id: @selected_rooms_storage_units_bin_id 
    %>
  <% end %>

  <% if !f.object.persisted? %>
    <div class="mb-2 asset-id" data-controller="inventory-location">
      <%= label_tag :tagging_ids, "#{t("activerecord.attributes.asset.tagging_id")} *", class: "fus-label mb-2" %>
      <%= select_tag :tagging_ids, 
        options_for_select([]),
        include_blank: t("custom.label.search_tagging_id"),
        multiple: true,
        data: {
          inventory_location_target: "select"
        },
        class: "fus-input",
        required: true
      %>
    </div>
  <% end %>


  <div class="mb-2">
    <%= f.label :status, "Status", class: "fus-label mb-2" %>
    <%= f.select :status, 
        options_for_select(
          Inventory::STATUSES.map { |status| [status.humanize, status] }, 
          f.object.status || "IN_STOCK"
        ),
        { include_blank: "Select a status" },
        data: {
          controller: "tom-select",
          tom_select_target: "select"
        },
        class: "fus-input",
        required: true
    %>
  </div>


  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= f.submit "#{t('custom.label.save')}",
      data: { turbo_frame: "main-content" },
      class: "bg-fus-blue w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>
    <%= link_to "#{t('custom.label.back')}",
      admin_inventories_path,
      data: {
          turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>
