<div class="overflow-x-auto mb-4 bg-slate-50 p-2 rounded-lg shadow relative">
  <%= turbo_frame_tag "table" do %>
    <div class="min-w-full bg-white rounded-lg overflow-x-auto max-h-[500px]">
        <table class="min-w-full bg-white table-auto" data-table-target="table">
          <thead class="rounded-lg">
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">

              <% if policy([:admin, :authorization]).destroy? || policy([:admin, :authorization]).update? || policy([:admin, :authorization]).read? %>
                <th class="sticky top-0 left-0 py-3 px-4 w-5 bg-gray-200 z-10">
                  <div class="flex items-center space-x-2">
                    <% if policy([:admin, :authorization]).destroy? %>
                      <input type="checkbox" data-table-target="parentCheckbox" data-action="change->table#toggleChildCheckbox" class="form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-400">
                    <% end %>
                  </div>
                </th>
              <% end %>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :asset_tagging_id,
                  "#{t('activerecord.models.asset')}",
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :inventory_site_name,
                  "#{t('activerecord.models.site')}",
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :rooms_storage_units_bin_rooms_storage_unit_room_inventory_location_floor,
                  "#{t('activerecord.attributes.inventory_location.floor')}",
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :rooms_storage_units_bin_rooms_storage_unit_room_name,
                  "#{t('activerecord.models.room')}",
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :rooms_storage_units_bin_rooms_storage_unit_storage_unit_name,
                  "#{t('custom.label.storage_unit_type')}", 
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :rooms_storage_units_bin_rooms_storage_unit_label,
                  "#{t('activerecord.models.rooms_storage_unit')}", 
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>
              
              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :rooms_storage_units_bin_label,
                  "#{t('activerecord.models.rooms_storage_units_bin')}", 
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200 whitespace-nowrap">
                <%= sort_link(@q, :status,
                  "#{t('activerecord.attributes.inventory.status')}", 
                  {
                    data: {
                      turbo_action: :advance,
                      action: "click->table#resetDeleteButton"
                    }
                  }
                ) %>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <%= render partial: "admin/inventory_management/inventories/inventory", collection: @inventories, cached: true %>
          </tbody>
        </table>
    </div>
    <div class="flex justify-between items-center my-4 mx-4">
      <%== pagy_info(@pagy) %>
      <%== pagy_nav(@pagy, anchor_string: 'data-turbo-action="advance" data-action="click->table#resetDeleteButton"') %>
    </div>
  <% end %>
  <%= render "shared/data_loader" %>

</div>
