<%= form_with model: [:admin, inventory_location], data: { turbo_action: "advance" }, html: { multipart: true } do |f| %>
  <div class="mb-2">
    <%= f.label :floor, "#{t('activerecord.attributes.inventory_location.floor')} <span class='text-red-500'>*</span>".html_safe, class: "fus-label mb-2" %>
    <%= f.text_field :floor, class: "fus-input font-bold", required: true %>
    <% @inventory_location.errors.full_messages_for(:floor).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= f.label :description, class: "fus-label mb-2" %>
    <%= f.textarea :description, class: "fus-input" %>
  </div>

  <hr class="my-4" />
  <div class="mb-4 flex items-center">
    <div>
      <%= link_to "Add rooms",
        add_fields_admin_inventory_locations_path(name: f.field_name(:rooms)),
        data: { turbo_method: :post },
        class: "bg-fus-primary-green w-full text-white px-4 py-2 rounded hover:bg-fus-hover-green hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-fus-primary-green mb-4 md:mb-0 md:w-auto"
      %>
    </div>
  </div>

  <%= tag.div id: f.field_id(:rooms), class: "md:grid grid-cols-2 gap-2" do%>
    <%= f.fields_for :rooms do |ff| %>
      <%= render "room_fields", f: ff %>
    <% end %>
  <% end %>

  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= f.submit f.object.persisted? ? t('custom.label.update') : t('custom.label.save'),
      data: {
        turbo_frame: "main-content"
      },
      class: "bg-fus-blue w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>
    <%= link_to "#{t('custom.label.cancel')}",
      admin_inventory_locations_path,
      data: {
        turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>