<%= form_with model: [:admin, project], data: { turbo_action: "advance" } do |form| %>

  <div class="mb-2">
    <%= form.label :id_project, "#{t("activerecord.attributes.project.id_project")} *", class: "fus-label mb-2" %>
    <%= form.text_field :id_project, class: "fus-input", required: true %>
    <% @project.errors.full_messages_for(:id_project).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :name, "#{t("activerecord.attributes.project.name")} *", class: "fus-label mb-2" %>
    <%= form.text_field :name, class: "fus-input", required: true %>
    <% @project.errors.full_messages_for(:name).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :description, class: "fus-label mb-2" %>
    <%= form.textarea :description, class: "fus-input" %>
    <% @project.errors.full_messages_for(:description).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  

  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= form.submit "#{t('custom.label.save')}",
      data: { turbo_frame: "main-content" },
      class: "bg-fus-blue w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>

    <%= link_to "#{t('custom.label.cancel')}",
      admin_projects_path,
      data: {
        turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>