<%= tag.tr id: dom_id(asset_model), class: "border-b border-gray-200 hover:bg-gray-100" do %>

  <% if policy([:admin, :authorization]).destroy? || policy([:admin, :authorization]).update?  %>

    <td class="sticky left-0 py-3 px-4 border-r border-gray-300 bg-gray-100">
      <div class="flex items-center space-x-4">

        <% if policy([:admin, :authorization]).destroy? %>
          <%= check_box_tag "asset_model_ids[]",
            asset_model.id,
            nil,
            {
              class: "form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-300 hover:bg-slate-400",
              multiple: true,
              form: :asset_model_table,
              data: {
                table_target: "childCheckbox",
                action: "change->table#toggleParentCheckbox"
              },
              title: t("custom.label.select_to_delete")
            }
          %>
        <% end %>

        <% if policy([:admin, :authorization]).update? %>
          <%= link_to admin_asset_model_path(asset_model),
            data: {
              turbo_frame: :modal,
              turbo_action: "advance"
            } do %>
              <%= inline_svg_tag "show.svg",
                class: "w-5 h-5 text-slate-300 hover:text-slate-400 cursor-pointer",
                title: t("custom.label.show")
              %>
          <% end %>
        <% end %>

        <% if policy([:admin, :authorization]).update? %>
          <%= link_to edit_admin_asset_model_path(asset_model),
            data: {
              turbo_frame: :modal,
              turbo_action: "advance"
            } do %>
              <%= inline_svg_tag "edit.svg",
                class: "w-5 h-5 text-slate-300 hover:text-slate-400 cursor-pointer",
                title: t("custom.label.edit")
              %>
          <% end %>
        <% end %>

      </div>
    </td>
  
  <% end %>
  
  <td class="py-3 px-6 text-left whitespace-nowrap"><%= asset_model.id_asset_model %></td>
  <td class="py-3 px-6 text-left whitespace-nowrap"><%= asset_model.name %></td>
  <td class="py-3 px-6 text-left whitespace-nowrap"><%= asset_model.brand.name %></td>
  <td class="py-3 px-6 text-left whitespace-nowrap"><%= asset_model.asset_type.name %></td>
  <td class="py-3 px-6 text-left whitespace-nowrap"><%= asset_model.asset_item_type.name %></td>
  <td class="py-3 px-6 text-left whitespace-nowrap"><%= asset_model.description.blank? ? "-" : asset_model.description %></td>
<% end %>