<%= tag.tr id: dom_id(component_type), class: "border-b border-gray-200 hover:bg-gray-100" do %>
  <td class="sticky left-0 py-3 px-4 bg-white border-r border-gray-300">
    <div class="flex items-center space-x-4">
      <%= check_box_tag "component_type_ids[]",
        component_type.id,
        nil,
        {
          class: "form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-200",
          multiple: true,
          form: :component_type_table,
          data: {
            table_target: "childCheckbox",
            action: "change->table#toggleParentCheckbox"
          }
        }
       %>
      <%= link_to "#{t("custom.label.edit")}", edit_admin_component_type_path(component_type), data: { turbo_frame: "_top" }, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </td>
  <td class="py-3 px-6 text-left"><%= component_type.name.capitalize %></td>
  <td class="py-3 px-6 text-left"><%= component_type.description.blank? ? "-" : component_type.description %></td>
<% end %>