<div class="bg-slate-50 rounded-lg mt-4 mb-4 p-4 hidden" data-toggle-target="toggle">
  <%= search_form_for [:admin, @q], url: admin_component_types_path, data: { 
    controller: "filters",
    turbo_frame: :table,
    turbo_action: "advance",
    filters_delay_value: 200,
    filters_table_outlet: ".table-component_type"
  } do |f| %>

    <div class="flex flew-wrap md:flex md:flex-nowrap gap-2">
      <div class="w-full mb-2">
        <%= f.label "#{t('activerecord.attributes.component_type.id_component_type')}", class: "block text-gray-700" %>
        <%= f.search_field :id_component_type_cont, data: { action: "filters#submit" }, class: "w-full border border-gray-300 rounded px-4 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>

      <div class="w-full mb-2">
        <%= f.label "#{t('activerecord.attributes.component_type.name')}", class: "block text-gray-700" %>
        <%= f.search_field :name_cont, data: { action: "filters#submit" }, class: "w-full border border-gray-300 rounded px-4 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>
    </div>
    
  <% end %>
</div>