<div class="overflow-x-auto mb-4">
  <%= turbo_frame_tag "table" do %>
    <div class="min-w-full bg-white rounded-lg overflow-x-auto">
        <table class="min-w-full bg-white table-auto" data-table-target="table">
          <thead class="rounded-lg">
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="sticky top-0 left-0 py-3 px-4 w-5 bg-gray-200 z-10">
                <div class="flex items-center space-x-2">
                  <input type="checkbox" data-table-target="parentCheckbox" data-action="change->table#toggleChildCheckbox" class="form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-400">
                </div>
              </th>
              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200">
                <%= sort_link(@q, :name, "#{t('activerecord.attributes.component_type.name')}", { data: {turbo_action: :advance, action: "click->table#resetDeleteButton"} }) %>
              </th>

              <th class="sticky top-0 py-3 px-6 text-left bg-gray-200">
                <%= t("activerecord.attributes.component_type.description") %>
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <%= render @component_types %>
          </tbody>
        </table>
    </div>
        <div class="flex justify-between items-center my-4 mx-4">
          <%== pagy_info(@pagy) %>
          <%== pagy_nav(@pagy, anchor_string: 'data-turbo-action="advance" data-action="click->table#resetDeleteButton"') %>
        </div>
  <% end %>
</div>