<%= form_with model: [:admin, component] do |form| %>
  <div class="mb-4">
    <%= form.label :id_component, "#{t("activerecord.attributes.component.id_component")} *", class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.text_field :id_component, class: "block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
    <% @component.errors.full_messages_for(:id_component).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :name, "#{t("activerecord.attributes.component.name")} *", class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.text_field :name, class: "block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
    <% @component.errors.full_messages_for(:name).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :component_type, "#{t("activerecord.models.component_type")} *", class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.select :component_type_id, 
      ComponentType.pluck(:name, :id).map { |name, id| [name.capitalize, id] },
      {include_blank: t("custom.label.select", model: t("activerecord.models.component_type")).capitalize},
      {data: { controller: 'slim' } }
    %>
    <% @component.errors.full_messages_for(:component_type).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.textarea :description, class: "block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
    <% @component.errors.full_messages_for(:description).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>


  <div class="flex flex-col md:flex-row items-center md:gap-2">
    <%= form.submit "#{t('custom.label.save')}", class: "bg-blue-400 w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto" %>
    <%= link_to "#{t('custom.label.cancel')}", admin_components_path, class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto" %>
  </div>
<% end %>