<%= form_with model: [:admin, site_group] do |form| %>
  <div class="mb-4">
    <%= form.label :name, "#{t("activerecord.attributes.site_group.name")} *", class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.text_field :name, class: "block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", required: true %>
    <% @site_group.errors.full_messages_for(:name).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :project, "#{t("activerecord.models.project")} *", class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.select :project_id, Project.pluck(:name, :id).map { |name, id| [name.capitalize, id] }, {}, {data: { controller: 'slim' } } %>
    <% @site_group.errors.full_messages_for(:project).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-sm font-medium text-gray-500 mb-2" %>
    <%= form.textarea :description, class: "block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
    <% @site_group.errors.full_messages_for(:description).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>


  <div class="flex flex-col md:flex-row items-center md:gap-2">
    <%= form.submit "#{t('custom.label.save')}", class: "bg-blue-400 w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto" %>
    <%= link_to "#{t('custom.label.cancel')}", admin_site_groups_path, class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto" %>
  </div>
<% end %>