<%= tag.tr id: dom_id(site_group), class: "border-b border-gray-200 hover:bg-gray-100" do %>
  <td class="sticky left-0 py-3 px-4 bg-white border-r border-gray-300">
    <div class="flex items-center space-x-4">
      <%= check_box_tag "site_group_ids[]",
        site_group.id,
        nil,
        {
          class: "form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-200",
          multiple: true,
          form: :site_group_table,
          data: {
            table_target: "childCheckbox",
            action: "change->table#toggleParentCheckbox"
          }
        }
       %>
      <%= link_to "#{t("custom.label.edit")}", edit_admin_site_group_path(site_group), data: { turbo_frame: "_top" }, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </td>
  <td class="py-3 px-6 text-left"><%= site_group.name.capitalize %></td>
  <td class="py-3 px-6 text-left"><%= site_group.project.name.capitalize %></td>
  <td class="py-3 px-6 text-left"><%= site_group.description.blank? ? "-" : site_group.description %></td>
<% end %>