<%= tag.tr id: dom_id(vendor), class: "border-b border-gray-200 hover:bg-gray-100" do %>
  <td class="sticky left-0 py-3 px-4 bg-white border-r border-gray-300">
    <div class="flex items-center space-x-4">
      <%= check_box_tag "vendor_ids[]",
        vendor.id,
        nil,
        {
          class: "form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-200",
          multiple: true,
          form: :vendor_table,
          data: {
            table_target: "childCheckbox",
            action: "change->table#toggleParentCheckbox"
          }
        }
       %>
      <%= link_to "#{t("custom.label.edit")}", edit_admin_vendor_path(vendor), data: { turbo_frame: "_top" }, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </td>
  <td class="py-3 px-6 text-left"><%= vendor.name.titleize %></td>
  <td class="py-3 px-6 text-left"><%= vendor.phone_number.blank? ? "-" : vendor.phone_number %></td>
  <td class="py-3 px-6 text-left"><%= vendor.fax_number.blank? ? "-" : vendor.fax_number %></td>
  <td class="py-3 px-6 text-left"><%= vendor.contact_person.blank? ? "-" : vendor.contact_person.titleize %></td>
  <td class="py-3 px-6 text-left"><%= vendor.email.blank? ? "-" : vendor.email %></td>
<% end %>