<%= form_with model: [:admin, site], data: { turbo_action: "advance" } do |form| %>
  <div class="mb-2">
    <%= form.label :name, "#{t("activerecord.attributes.site.id_site")} *", class: "fus-label mb-2" %>
    <%= form.text_field :id_site, class: "fus-input", required: true %>
    <% @site.errors.full_messages_for(:id_site).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :name, "#{t("activerecord.attributes.site.name")} *", class: "fus-label mb-2" %>
    <%= form.text_field :name, class: "fus-input", required: true %>
    <% @site.errors.full_messages_for(:name).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :site_stat, "#{t("activerecord.models.site_stat")} *", class: "fus-label mb-2" %>
    <%= form.select :site_stat_id,
      SiteStat.pluck(:name, :id).map { |name, id| [name.capitalize, id] },
      {include_blank: t("custom.label.select", model: t("activerecord.models.site_stat")).capitalize},
      {data: { controller: 'slim' }, class: "fus-select"}
    %>
    <% @site.errors.full_messages_for(:site_stat).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :site_group, "#{t("activerecord.models.site_group")} *", class: "fus-label mb-2" %>
    <%= form.select :site_group_id,
      SiteGroup.pluck(:name, :id).map { |name, id| [name.capitalize, id] },
      {include_blank: t("custom.label.select", model: t("activerecord.models.site_group")).capitalize},
      {data: { controller: 'slim' }, class: "fus-select" }
    %>
    <% @site.errors.full_messages_for(:site_group).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :description, class: "fus-label mb-2" %>
    <%= form.textarea :description, class: "fus-input" %>
    <% @site.errors.full_messages_for(:description).each do |message| %>
      <p class="text-red-500 text-sm mt-1"><%= message %></p>
    <% end %>
  </div>


  <div class="flex flex-col md:flex-row items-center md:gap-2 mt-4">
    <%= form.submit "#{t('custom.label.save')}",
      data: { turbo_frame: "main-content" },
      class: "bg-blue-400 w-full text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4 md:mb-0 md:w-auto"
    %>

    <%= link_to "#{t('custom.label.cancel')}",
      admin_sites_path,
      data: {
        turbo_action: "advance"
      },
      class: "text-center bg-slate-100 w-full px-4 py-2 rounded hover:bg-slate-200 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-slate-300 mb-4 md:mb-0 md:w-auto"
    %>
  </div>
<% end %>