<%= tag.tr id: dom_id(site), class: "border-b border-gray-200 hover:bg-gray-100" do %>
  <td class="sticky left-0 py-3 px-4 bg-white border-r border-gray-300">
    <div class="flex items-center space-x-4">
      <%= check_box_tag "site_ids[]",
        site.id,
        nil,
        {
          class: "form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded border-none bg-slate-200",
          multiple: true,
          form: :site_table,
          data: {
            table_target: "childCheckbox",
            action: "change->table#toggleParentCheckbox"
          }
        }
       %>
      <%= link_to "#{t("custom.label.edit")}", edit_admin_site_path(site), data: { turbo_frame: "main-content" }, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </td>
  <td class="py-3 px-6 text-left"><%= site.id_site %></td>
  <td class="py-3 px-6 text-left"><%= site.name %></td>
  <td class="py-3 px-6 text-left"><%= site.site_stat.name %></td>
  <td class="py-3 px-6 text-left"><%= site.site_group.name %></td>
  <td class="py-3 px-6 text-left"><%= site.description.blank? ? "-" : site.description %></td>
<% end %>